.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  max-width: 720px;
  flex-grow: 1;
}

.buttonLink {
  border: 1px solid #212121;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 12px;
  line-height: 3rem;
}

.button {
  border: 1px solid #212121;
  background-color: white;
  min-width: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 12px;
}

.buttonSelected {
  background-color: greenyellow;
}

.footer {
  font-size: 0.8rem;
  color: #c4c4c4;
}
