.overlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.8);
}
.overlayContainer {
  max-width: 360px;
  background-color: white;
  padding: 20px;
}
.overlayButton {
  width: 100%;
  background-color: white;
  border-radius: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.button {
  border: 1px solid #212121;
  background-color: white;
  color: #212121;
  width: 208px;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
button.button {
  margin-top: 5px;
  margin-bottom: 5px;
}
a.button {
  line-height: 60px;
  white-space: nowrap;
}

.buttonSelected {
  background-color: #212121;
  color: white;
}

.afterAnswerBox {
  background-color: #f1f1f1;
  padding: 18px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.inviteCode {
  text-align: center;
}

.stepHeaderWrapper {
  display: flex;
  margin-top: 45px;
}

.stepHeaderWrapper h3 {
  margin: 0;
  flex-grow: 1;
}

.time {
  background-color: #c4c4c4;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  white-space: nowrap;
}

.footer p {
  font-size: 0.6rem;
  color: #c4c4c4;
}
