.Wrapper {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  max-width: 720px;
}

.buttonLink {
  border: 1px solid black;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 12px;
  line-height: 3rem;
}

.button {
  border: 1px solid black;
  background-color: white;
  min-width: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 12px;
}

.buttonSelected {
  background-color: greenyellow;
}
